<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "styleone.css" %}">
  </head>
  <body>
    <h1>Product Details</h1>
    <table>
      <thead>
        <tr>
          <th>Brands</th>
          <th>Model</th>
          <th>Cost</th>
        </tr>
      </thead>

      <tbody>
        {% for p in products %}
        <tr>
          <td>{{p.productBrandName}}</td>
          <td>{{p.productBrandModel}}</td>
          <td>{{p.productBrandCost}}</td>
          <td><button type="button"><a href="/product/delete/{{p.id}}">Delete Product</a></button></td>
           <td><button type="button"><a href="/product/update/{{p.id}}">Update Product</a></button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <button type="button" name="button">
      <a href="/product/create">Add Product</a>
    </button>
  </body>
</html>
